<div class="footer">
    <div class="container">
        <div class="footer-column">
            <div class="footer-column-header">
                Справка
            </div>
            <ul>
                <li>+375 29 148 88 88</li>
                <li>+375 29 149 99 99</li>
                <li><a href="mailto:info@addyou.by">info@addyou.by</a></li>
            </ul>
            <div class="footer-column-header">
                Размещение акций
            </div>
            <ul>
                <li>+375 29 628 86 39</li>
            </ul>
        </div>
        <div class="footer-column">
            <div class="footer-column-header">
                Компания
            </div>
            <ul>
                <li><a href="#"> Лидер мнений в Instagram</a></li>
                <li><a href="#"> Рекламодателям</a></li>
                <li><a href="#"> Контакты</a></li>
                <li><a href="#"> Пользовательское соглашение</a></li>
                <li><a href="#"> Вакансии</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <div class="footer-column-header">
                Сервис и Помощь
            </div>
            <ul>
                <li><a href="/pravila-razmesheniya-kommentariev-slivki-by"> Правила размещения комментариев</a></li>
                <li><a href="/politika-konfidyncialnosti"> Политика конфиденциальности</a></li>
                <li><a href="/dogovor-oferta-instagram"> Договор оферта инстаграм</a></li>
                <li><a href="/sposoby-oplaty"> Способы оплаты</a></li>
                <li><a href="/publichnyj-dogovor-okazaniya-reklamnyh-uslug-i-razmesheniya-akcij"> Публичный договор оказания рекламных услуг</a></li>
                <li><a href="/bonus-system-slivki"> Бонусы</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <div class="footer-column-header">
                Дополнительно
            </div>
            <ul>
                <li><a href="/kak-poluchit-skidku-instruction"> Как получить скидку</a></li>
                <li><a href="https://www.slivki.by/otzyvy">Отзывы</a></li>
                <li><a href="https://www.slivki.by/prilozhenie-skidok">Приложение скидок и акций</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-paytypes-container container">
        <ul class="footer-paytypes footer-paytypes-two">
            <li><img src="https://www.slivki.by/images/logo-ipay.png"></li>
            <li><img src="https://www.slivki.by/images/logo-raschet.png"></li>
            <li><img src="https://www.slivki.by/images/logo-mastercard.png?v=2"></li>
            <li><img src="https://www.slivki.by/images/mc_id_check.png"></li>
            <li><img src="https://www.slivki.by/images/logo-maestro.png?v=2"></li>
            <li><img src="https://www.slivki.by/images/img-visa.png"></li>
            <li><img src="https://www.slivki.by/images/img-verifide-by-visa.png?v=3" style="height: 55px"></li>
            <li><img src="https://www.slivki.by/images/logo-mtb.png"></li>
            <li><img src="https://www.slivki.by/images/logo-belcard.png?v=2" style="height: 55px"></li>
            <li><img src="https://www.slivki.by/images/img-bepaid.png?v=2"></li>
        </ul>
    </div>
    <div style="text-align: center;">ЗАО «AddYou» УНП 14991488228. Адрес: г. Минск, ул. Бурдейного 25. Стандартное время работы с 9:00 до 18:00.<br>Звонки и сообщения в нерабочее время и в выходные дни приветствуются.</div>
</div>